# Test Issues Data Aggregation

-----------------------------------------------------------------
This example illustrates the aggregation of issue data using the github2pandas repository. Here, all issues are read out.

In [1]:
from github2pandas.aggregation.issues import AggIssues as AggI
from github2pandas.utility import Utility
from pathlib import Path

## Basic Usage

The most important input parameter is an Repository object from PyGitHub-Package.

In [2]:
git_repo_name = "Extract_Git_Activities"
git_repo_owner = "TUBAF-IFI-DiPiT"
    
default_data_folder = Path("data", git_repo_name)

import os
github_token = os.environ['TOKEN']
# If you do not include your Github Token in .env, its neccessary to integrate it here. 
# github_token = "yourToken"

repo = Utility.get_repo(git_repo_name, github_token)

The code snipet generates a raw data set based on repo information.

In [3]:
AggI.generate_issue_pandas_tables(repo, default_data_folder)

True

In [4]:
issues = AggI.get_raw_issues(default_data_folder,AggI.ISSUES)
issues.head(5)

,assignees,assignees_count,body,closed_at,closedBy,created_at,id,labels,labels_count,state,title,updated_at,author,comments_count,event_count,reaction_count
0,6d1b7901-9635-4705-a7f5-050593c619dc,1,"In the notebook example, despite the unique as...",NaT,None,2021-03-14 12:49:41,831148430,,0,open,Unique user names,2021-03-14 12:49:52,7be26812-dfaa-4724-932c-6a9613761e42,0,1,0
1,6d1b7901-9635-4705-a7f5-050593c619dc,1,create some models for pandas tables,NaT,None,2021-03-12 08:27:08,829875939,,0,open,predefine the pandas tables,2021-03-12 10:29:44,6d1b7901-9635-4705-a7f5-050593c619dc,3,2,0
2,6d1b7901-9635-4705-a7f5-050593c619dc,1,user data should be saved in a different file ...,2021-03-12 08:25:21,6d1b7901-9635-4705-a7f5-050593c619dc,2021-03-11 12:15:32,829096813,,0,closed,extraction of user data,2021-03-12 08:25:21,6d1b7901-9635-4705-a7f5-050593c619dc,0,2,0
3,,0,Jupyter notebooks for illustrating the basic u...,2021-03-05 09:00:16,7be26812-dfaa-4724-932c-6a9613761e42,2021-03-05 06:30:09,822791418,,0,closed,Integrate notebook examples,2021-03-05 09:00:16,7be26812-dfaa-4724-932c-6a9613761e42,0,3,0
4,6d1b7901-9635-4705-a7f5-050593c619dc,1,,2021-03-09 07:38:04,7be26812-dfaa-4724-932c-6a9613761e42,2021-03-04 07:00:31,821825890,,0,closed,Aggregate PullRequests,2021-03-09 07:38:04,6d1b7901-9635-4705-a7f5-050593c619dc,1,3,0

In [5]:
issues_comments = AggI.get_raw_issues(default_data_folder,AggI.ISSUES_COMMENTS)
issues_comments.head(5)

,issue_id,body,created_at,id,author,reactions
0,829875939,What are you meaning?,2021-03-12 10:17:26,797388837,7be26812-dfaa-4724-932c-6a9613761e42,0
1,829875939,Creating a dictionary with limited keys.\r\n\r...,2021-03-12 10:28:51,797395885,6d1b7901-9635-4705-a7f5-050593c619dc,0
2,829875939,And all keys are initially set to None,2021-03-12 10:29:44,797396432,6d1b7901-9635-4705-a7f5-050593c619dc,0
3,821825890,PullRequest aren't Issues,2021-03-05 08:04:08,791238319,6d1b7901-9635-4705-a7f5-050593c619dc,0
4,821819189,"Let's define a documentation pattern, that sho...",2021-03-09 07:15:44,793475432,7be26812-dfaa-4724-932c-6a9613761e42,0

In [6]:
issues_reactions = AggI.get_raw_issues(default_data_folder,AggI.ISSUES_REACTIONS)
issues_reactions.head(5)

,issue_id,content,created_at,id,author
0,818689008,+1,2021-03-03 06:58:39,102773172,6d1b7901-9635-4705-a7f5-050593c619dc

In [7]:
issues_events = AggI.get_raw_issues(default_data_folder,AggI.ISSUES_EVENTS)
issues_events.head(5)

,issue_id,author,commit_id,created_at,event,id,assignee,assigner
0,831148430,6d1b7901-9635-4705-a7f5-050593c619dc,None,2021-03-14 12:49:52,assigned,4455225272,6d1b7901-9635-4705-a7f5-050593c619dc,7be26812-dfaa-4724-932c-6a9613761e42
1,829875939,6d1b7901-9635-4705-a7f5-050593c619dc,None,2021-03-12 08:27:08,assigned,4449384914,6d1b7901-9635-4705-a7f5-050593c619dc,6d1b7901-9635-4705-a7f5-050593c619dc
2,829875939,6d1b7901-9635-4705-a7f5-050593c619dc,None,2021-03-12 10:27:12,connected,4449938975,None,None
3,829096813,6d1b7901-9635-4705-a7f5-050593c619dc,None,2021-03-11 12:15:36,assigned,4444343020,6d1b7901-9635-4705-a7f5-050593c619dc,6d1b7901-9635-4705-a7f5-050593c619dc
4,829096813,6d1b7901-9635-4705-a7f5-050593c619dc,None,2021-03-12 08:25:21,closed,4449377674,None,None