# Test Issues Data Aggregation

-----------------------------------------------------------------
This example illustrates the aggregation of issue data using the github2pandas repository. Here, all issues are read out.

In [1]:
from github2pandas.aggregation.issues import AggIssues as AggI
from github2pandas.aggregation.utility import Utility
from pathlib import Path

## Basic Usage

The most important input parameter is an Repository object from PyGitHub-Package.

In [2]:
git_repo_name = "Extract_Git_Activities"
git_repo_owner = "TUBAF-IFI-DiPiT"
    
default_data_folder = Path("data", git_repo_name)

import os
github_token = os.environ['TOKEN']
# If you do not include your Github Token in .env, its neccessary to integrate it here. 
# github_token = "yourToken"

repo = Utility.get_repo(git_repo_owner, git_repo_name, github_token)

The code snipet generates a raw data set based on repo information.

In [3]:
AggI.generate_issue_pandas_tables(repo, default_data_folder)

True

In [4]:
issues = AggI.get_raw_issues(default_data_folder,AggI.ISSUES)
issues.head(5)

,assignees,assignees_count,body,closed_at,closed_by,created_at,id,labels,labels_count,milestone_id,state,title,updated_at,author,comments_count,event_count,reaction_count
0,6d1b7901-9635-4705-a7f5-050593c619dc,1,resolve test issues,2021-03-15 10:11:44,7be26812-dfaa-4724-932c-6a9613761e42,2021-03-15 09:02:40,831589201,,0,None,closed,Tests failing,2021-03-15 10:11:44,6d1b7901-9635-4705-a7f5-050593c619dc,0,3,0
1,6d1b7901-9635-4705-a7f5-050593c619dc,1,"In the notebook example, despite the unique as...",NaT,None,2021-03-14 12:49:41,831148430,,0,None,open,Unique user names,2021-03-15 08:37:19,7be26812-dfaa-4724-932c-6a9613761e42,2,3,0
2,6d1b7901-9635-4705-a7f5-050593c619dc,1,create some models for pandas tables,2021-03-18 08:51:31,6d1b7901-9635-4705-a7f5-050593c619dc,2021-03-12 08:27:08,829875939,,0,None,closed,predefine the pandas tables,2021-03-18 08:51:31,6d1b7901-9635-4705-a7f5-050593c619dc,3,3,0
3,6d1b7901-9635-4705-a7f5-050593c619dc,1,user data should be saved in a different file ...,2021-03-12 08:25:21,6d1b7901-9635-4705-a7f5-050593c619dc,2021-03-11 12:15:32,829096813,,0,None,closed,extraction of user data,2021-03-12 08:25:21,6d1b7901-9635-4705-a7f5-050593c619dc,0,2,0
4,,0,Jupyter notebooks for illustrating the basic u...,2021-03-05 09:00:16,7be26812-dfaa-4724-932c-6a9613761e42,2021-03-05 06:30:09,822791418,,0,None,closed,Integrate notebook examples,2021-03-05 09:00:16,7be26812-dfaa-4724-932c-6a9613761e42,0,3,0

In [5]:
issues_comments = AggI.get_raw_issues(default_data_folder,AggI.ISSUES_COMMENTS)
issues_comments.head(5)

,body,created_at,id,author,reactions_count,issue_id
0,Did you looked at the users @SebastianZug ? T...,2021-03-15 08:23:58,799217926,6d1b7901-9635-4705-a7f5-050593c619dc,0,831148430
1,Can you please add a function that provides us...,2021-03-15 08:37:19,799227268,7be26812-dfaa-4724-932c-6a9613761e42,0,831148430
2,What are you meaning?,2021-03-12 10:17:26,797388837,7be26812-dfaa-4724-932c-6a9613761e42,0,829875939
3,Creating a dictionary with limited keys.\r\n\r...,2021-03-12 10:28:51,797395885,6d1b7901-9635-4705-a7f5-050593c619dc,0,829875939
4,And all keys are initially set to None,2021-03-12 10:29:44,797396432,6d1b7901-9635-4705-a7f5-050593c619dc,0,829875939

In [6]:
issues_reactions = AggI.get_raw_issues(default_data_folder,AggI.ISSUES_REACTIONS)
issues_reactions.head(5)

,content,created_at,id,author,comment_id,issue_id
0,+1,2021-03-18 09:34:29,104783471,7be26812-dfaa-4724-932c-6a9613761e42,801747339.0,NaN
1,+1,2021-03-03 06:58:39,102773172,6d1b7901-9635-4705-a7f5-050593c619dc,NaN,818689008.0

In [7]:
issues_events = AggI.get_raw_issues(default_data_folder,AggI.ISSUES_EVENTS)
issues_events.head(5)

,author,commit_id,created_at,event,id,label,assignee,assigner,issue_id
0,6d1b7901-9635-4705-a7f5-050593c619dc,None,2021-03-15 09:02:40,assigned,4457375886,None,6d1b7901-9635-4705-a7f5-050593c619dc,6d1b7901-9635-4705-a7f5-050593c619dc,831589201
1,6d1b7901-9635-4705-a7f5-050593c619dc,None,2021-03-15 10:03:37,connected,4457706627,None,None,None,831589201
2,7be26812-dfaa-4724-932c-6a9613761e42,None,2021-03-15 10:11:44,closed,4457751217,None,None,None,831589201
3,6d1b7901-9635-4705-a7f5-050593c619dc,None,2021-03-14 12:49:52,assigned,4455225272,None,6d1b7901-9635-4705-a7f5-050593c619dc,7be26812-dfaa-4724-932c-6a9613761e42,831148430
4,7be26812-dfaa-4724-932c-6a9613761e42,None,2021-03-15 08:23:59,mentioned,4457180351,None,None,None,831148430